body{
    background-color: rgb(56, 0, 63);
    margin: 0;
}
/* - For Header Elements in the HTML Files - */
h1{
    font-size: 3.5em;
    text-align: center;
    color: #ffae00;
    font-family: Verdana;
    margin-top: 1.5in;
}
h2{
    text-align: center;
    font-family: Verdana;
    font-size: 15px;
    color: aliceblue;
}
/* - Table For Store Hours - */
table {
    text-align: left;
    margin-left: auto; 
    margin-right: auto;
    font-family: Verdana;
    font-size: 35px;
    color: aliceblue;
}
td{
    text-align: right;
    margin-left: auto; 
    margin-right: auto;
    font-family: Verdana;
    font-size: 35px;
    color: aliceblue;
}
/* - For all Paragraph Elements in the HTML Files - */
p{
    text-align: center;
    font-size: 25px;
    padding: 15px;
    font-family: Verdana;
    color: aliceblue;
    padding-right: 300px;
    padding-left: 300px;
}
/* - For Navigation Bar - */
nav ul{
    list-style-type: none;
    justify-content: center;
    display: flex;
    background-color: #e09900;
    font-family: Verdana;
    font-weight: bold;
    padding: 20px 20px;
    margin: 0;
}
nav a{
    text-decoration: none;
    padding: 12px;
    color: aliceblue;
    font-size: 20px;
}
nav a:hover{
    background-color: rgb(194, 103, 0);
    padding: 20px 20px;
}
/* - Reason Label for Contact Form - */
label{
    font-family: Verdana;
    font-size: 20px;
    margin: 8px;
    color: aliceblue;
}
/* - Inquiry Textbox for Contact Form - */
input[type=text]{
    width: 100%;
    padding: 10px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-sizing: border-box;
}
/* - Inquiry Textbox for Contact Form - */
textarea[class=formReason]{
    width: 100%;
    padding-bottom: 50px;
    margin: 8px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-sizing: border-box;
}
/* - Contact Form Width - */
fieldset{
    padding: 20px;
    margin: 15%;
}
/* - Contact Form Submit Button - */
input[type=submit]{
    padding: 20px 40px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 10px;
    color: aliceblue;
    font-size: 25px;
    font-family: Verdana;
    background-color: #e09900;
}
/* - Images Customization - */
img[alt=FaceBookLogo]{
    width: 50px;
}
img[alt=TwitterLogo]{
    width: 50px;  
}
div[class=SocialMedia]{
    text-align: center;
}
img[alt=ViciousCyclesLogo]{
    width: 400px;
    padding: 15px 15px;
    filter: brightness(1.5);
}
/* - Hero Image on the front of every page - */
.front-page-image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 15%; 
    background-position: 0;
}
/* - For Footer Properties - */
footer{
    margin: 0%;
    margin-top: 6%;
    background-color: rgb(39, 0, 44);
    padding: 20px 20px;
}
footer img[alt=ViciousCyclesLogo]{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
/* - For interactivity on Products Cards - */
#products{
    justify-items: center;
    width: 100%;
    margin: 0%;
    display: grid;
    grid-row-gap: 100px;
    grid-template-areas:
    "Product1 Product2 Product3"
    "Product3 Product5 Product6";
    grid-template-columns: 1fr 1fr 1fr;
}
#products > div:hover {
  cursor: pointer;
  background-color: rgb(194, 103, 0);
}
#products > div {
    background-color: rgb(204, 133, 0);
    padding: 10px 10px;
}
#products > div img {
    height: 400px;
    width: 500px;
    object-fit: cover;
}
#products > div h3 {
    padding-top: 5px;
    font-family: Verdana;
    text-align: center;
    cursor:default;
    color: aliceblue;
}
#products > div h4 {
    padding-top: 5px;
    font-family: Verdana;
    text-align: center;
    cursor:default;
    color: aliceblue;
}
/* - For interactivity on Services Cards - */
#Maintenance-Repairs{
    justify-items: center;
    width: 100%;
    margin-top: 80px;
    display: grid;
    grid-template-areas: 
    "repair-photo maintenance-photo";
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px; 
}
#Maintenance-Repairs > div:hover {
  cursor: pointer;
  background-color: rgb(194, 103, 0);
}
#Maintenance-Repairs > div {
    background-color: rgb(204, 133, 0);
    padding: 10px 10px;
}
#Maintenance-Repairs > div img {
    height: 450px;
    width: 600px;
    object-fit: cover;
}
#Maintenance-Repairs > div h3 {
    padding-top: 5px;
    font-family: Verdana;
    text-align: center;
    cursor:default;
    color: aliceblue;
}
/* - For interactivity on Events Cards - */
#Events{
    justify-items: center;
    width: 100%;
    margin-top: 80px;
    display: grid;
    grid-template-areas: 
    "event1 event2 event3";
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px; 
}
#Events > div:hover {
  cursor: pointer;
  background-color: rgb(194, 103, 0);
}
#Events > div {
    background-color: rgb(204, 133, 0);
    padding: 10px 10px;
}
#Events > div img {
    height: 400px;
    width: 500px;
    object-fit: cover;
}
#Events > div h3 {
    padding-top: 5px;
    font-family: Verdana;
    text-align: center;
    cursor:default;
    color: aliceblue;
}